
nav{
  text-align: center;
  background-color: #B2E4F9;
  position: relative;
}


nav>p{
  padding : 6px 0;
}

nav>p>svg{
  font-size : 27px;
  color : #8f8d97;
  font-weight: bold;
  cursor: pointer;
}


#nav>ul{
  width:1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding : 40px 0;
}

#nav>ul>li>a{
  color:#757474;
}

#nav>ul>li>a:hover{
  font-weight: bold;
}

@keyframes slide-down{
  from{
    padding-top : 0px;
  }
  to{
    padding-top : 50px;
  }
}

@keyframes slide-up{
  0%{
    padding-top : 0px;
  }
  100%{
    padding-top : 50px;
  }
}
#nav{
  background-color: #b2e4f997;
  position: absolute;
  width:100%;
  left:0;
}

.nav-slide-down{
  animation: slide-down 0.3s ease;
}

.nav-slide-up{
  animation: slide-up 0.3s ease;
}