#map{
  width :500px;
  height :400px;
  margin: 0 auto 100px;
}

section.location{
  padding : 50px 70px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

section.location>h4{
  font-size : 28px;
  margin-bottom : 30px;
  display: flex;
  align-items: center;
}

section.location>h4>span{
  width : 15px;
  height : 20px;
  display: block;
  background-color: rgb(85, 152, 224);
  margin-right : 10px;
}

section.location>ul>li{
  margin-bottom : 15px;
}