/* #post{
  
  height : calc(100vh - 264px);
} */

#post>div{
  margin-bottom : 100px;
}

#post>div>table{
  /* background-color: yellow; */
  text-align: center;
  width : 70%;
  margin:0 auto;
  border : 2px solid #a1a1a1;
}

#post>div>table>thead>tr>th{
  width : 33.333%;
  background-color: rgb(226, 226, 226);
  padding : 10px 0;
  border-bottom : 1px solid #000;
}

#post>div>table>tbody>tr>td{
  padding : 10px 0;
  border-bottom : 1px solid #000;
}

#post>div>table>tbody>tr>td:nth-child(2){
  cursor: pointer;
}